<!DOCTYPE html>
<html lang="en" ng-app="myApp" >

<head>
  <title>Black Cyber</title>
  <meta charset="utf-8">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1,user-scalable=0" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <!-- Google Web Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic"
    rel="stylesheet" type="text/css">
  <!-- FontAwesome CDN  -->
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="http://hangingcage.com/WebContent/css/style.css" rel="stylesheet">
  <link href="http://hangingcage.com/WebContent/css/responsive.css" rel="stylesheet">
  <style>
    :root {
      --main-bg-color: #cf3d27;
      --border: #ea4d35;
      --fg-white: #FFF;
    }

    a {
      color: var(--fg-white) !important;
    }

    /* Theme Start */
    .navbar-inverse {
      background-color: var(--main-bg-color) !important;
      padding: 0;
      border: solid var(--border) !important;
      border-width: 1px 0 0 0;
    }

    .navbar-inverse .navbar-nav>.active>a,
    .navbar-inverse .navbar-nav>.active>a:focus,
    .navbar-inverse .navbar-nav>.active>a:hover {
      background-color: #ea4d35 !important;
    }

    /*Theme End*/

    /*Aligment Styles*/
    .items-center {
      display: flex;
      align-items: center;
    }

    .display-content-center {
      display: flex;
      justify-content: center;
    }

    /**Alignment Styles End**/

    /*** Paddings ***/
    .pd5 {
      padding: 5px;
    }

    /** Paddings End **/

    /** Tabs **/
    .tab-content {
      position: relative;
      top: 60px;
    }

    /** Tabs End **/

    /**Food**/
    #food .flex-wrap {
      display: flex;
      flex-wrap: wrap;
      width: 90%;
    }

    #food .flex-wrap .card {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, .125);
      border-radius: .25rem;
    }

    /** Media Queries **/
    @media screen and (max-width: 991px) {
      .content-login-wrap {
        padding: 36px 0;
      }
    }

    /** End **/
  </style>
</head>

<body ng-controller="myCtrl">

  <div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header items-center">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#home">HangingCage</a>
          <a href="tel:+91 (636)-014-9357">
            <i class="fa fa-phone pd5"></i>+91 (636)-014-9357
          </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
            <li><a data-toggle="tab" href="#food">Food List</a></li>
            <li><a data-toggle="tab" href="#about">About Us</a></li>
            <li><a data-toggle="tab" href="#contact">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="tab-content">
      <div id="home" class="tab-pane fade in active">
        <div class="main-container container">
          <!-- Content Login Wrap Starts -->
          <div class="content-login-wrap row">
            <div class="col-md-6 col-sm-12" ng-switch="ui.content">
              <div ng-switch-when="loader" class="loader-wrapper">
                <div class="loader"></div>
              </div>
              <form ng-switch-when="form">
                <!-- Nested Row Starts -->
                <div
                  style="color:#FFF !important;background:#000;padding-top: 10px;display: flex;flex-direction: column;">
                  <h6 style="margin:12px;" class="text-center"><b>Please Provide Your Information,If any queries...</b>
                  </h6>
                  <div class="col-sm-12">
                    <label class="sr-only" for="newsletter-city">Please Enter your Name</label>
                    <input type="text" ng-model="name" class="form-control" id="newsletter-city"
                      placeholder="Please Enter your Name">
                  </div>
                  <div class="col-sm-12" style="margin-top: 20px;">
                    <label class="sr-only" for="newsletter-email">Enter Phone Number</label>
                    <input type="text" class="form-control" ng-model="phone" id="newsletter-email"
                      placeholder="Enter Phone Number">
                  </div>
                  <div class="col-sm-12">
                    <button class="btn btn-prime btn-block text-uppercase text-weight-bold animation"
                      ng-click="getHelp(name,phone)">Get Help from us</button>
                  </div>
                  <div class="col-sm-12 text-center">
                    <h6 class="text-weight-bold">
                      <label>
                        <input type="checkbox">
                        <span>I have read &amp; accepted the terms and conditions and privacy policy</span>
                      </label>
                    </h6>
                  </div>
                </div>
                <!-- Nested Row Ends -->
              </form>
            </div>
            <!-- Divider For Small Devices -->
            <div class="w-10 d-xs-block d-sm-block d-md-none">
              <br>
              <hr><br>
            </div>
            <div class="col-md-4 col-sm-12 offset-md-2">
              <p> One cannot think well, love well, sleep well, if one has not dined well.<br />
                So,Take a taste. Come join us. Life is so endlessly delicious. </p>
              <button class="btn btn-block btn-fb animation">
                <a style="display:flex;justify-content:space-evenly;align-items:center;color:#FFF;text-decoration:none"
                  href="https://www.facebook.com/Hanging-Cage-RestoCafe-100401028139484" target="_blank">
                  <i class="fa fa-facebook"></i>Like on Facebook
                </a>
              </button>
              <button class="btn btn-block btn-prime tiny animation">
                <a style="color:#FFF;display:flex;justify-content:center;align-items:center;text-decoration:none"
                  href="https://www.zomato.com/hi/bangalore/hanging-cage-resto-cafe-kanakapura-road-bangalore/reviews?city_id=4&tab=reviews"
                  target="_blank"> Reviews on Zomato
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id="food" class="tab-pane fade display-content-center">
      <div class="flex-wrap">
        <div class="card">
          <img src="http://hangingcage.com/WebContent/images/burger.png" alt="burger">
          <div class="text-center">
            <h4><b>Burger</b></h4>
          </div>
        </div>
        <div class="card">
          <img src="http://hangingcage.com/WebContent/images/sandwitch.svg" alt="Sandwitch">
          <div class="text-center">
            <h4><b>Sandwitch</b></h4>
          </div>
        </div>
        <div class="card">
          <img src="http://hangingcage.com/WebContent/images/fries.jpeg" alt="Fries">
          <div class="text-center">
            <h4><b>Fries</b></h4>
          </div>
        </div>
        <div class="card">
          <img src="http://hangingcage.com/WebContent/images/chineese.jpg" alt="Chineese">
          <div class="text-center">
            <h4><b>Chineese Veg Starters</b></h4>
          </div>
        </div>
        <div class="card">
          <img src="http://hangingcage.com/WebContent/images/chineese.jpg" alt="Chineese">
          <div class="text-center">
            <h4><b>Chineese Non-Veg</b></h4>
          </div>
        </div>
        <div class="card">
          <img src="http://hangingcage.com/WebContent/images/biryani-veg.png" alt="Biriyani">
          <div class="text-center">
            <h4><b>Special Veg Matka Biriyani</b></h4>
          </div>
        </div>
        <div class="card">
          <img src="http://hangingcage.com/WebContent/images/biryani.png" alt="Biriyani">
          <div class="text-center">
            <h4><b>Chicken Biriyani</b></h4>
          </div>
        </div>
        <div class="card">
          <img src="http://hangingcage.com/WebContent/images/shakes.png" alt="shakes">
          <div class="text-center">
            <h4><b>Shakes</b></h4>
          </div>
        </div>
        <div class="card">
          <img src="http://hangingcage.com/WebContent/images/icecream.png" alt="icecream">
          <div class="text-center">
            <h4><b>Ice Creams</b></h4>
          </div>
        </div>
        <div class="card">
          <img src="http://hangingcage.com/WebContent/images/sundae.png" alt="Sundaes">
          <div class="text-center">
            <h4><b>Sundaes</b></h4>
          </div>
        </div>
        <div class="card">
          <img src="http://hangingcage.com/WebContent/images/falooda.png" alt="Falooda">
          <div class="text-center">
            <h4><b>Falooda</b></h4>
          </div>
        </div>
        <div class="card">
          <img src="http://hangingcage.com/WebContent/images/food.png" alt="Food">
          <div class="text-center">
            <h4><b>Time Limited Special Dishes</b></h4>
          </div>
        </div>
      </div>
    </div>
    <div id="about" class="tab-pane fade">
      <h3>About Us</h3>
      <p>About us section..</p>
    </div>
    <div id="contact" class="tab-pane fade">
      <h3>Contact Us</h3>
      <p>Contact us section..</p>
    </div>
  </div>
  First Name: <input type="text" ng-model="firstName"><br>
  Last Name: <input type="text" ng-model="lastName"><br>
  <br>
  Full Name: {{firstName + " " + lastName}}

  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
      $scope.firstName = "John";
      $scope.lastName = "Doe";
      $scope.ui = {
        content: 'form'
      };
    });
  </script>

</body>

</html>
